/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.body__header {
  margin: 0 auto;
}
.header {
  width: 500px;
  display: block;
  text-align: right;
}
.header__photo {
  width: 100%;
  vertical-align: bottom;
}
.header__link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .header {
    text-align: center;
  }

}
.body__todo-app {
  margin: 0 auto 0;
}
.todo-app {
  display: block;
  width: 500px;
}
.input-text,
.task-list__label {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.section__row {
  display: flex;
  margin-bottom: 16px;
}
.task-list {
  margin: 0;
  padding: 0;
}
.task-list__item {
  list-style: none;
}
.input-text,
.task-list__checkbox,
.btn{
  outline: none;
}
.btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.btn:hover {
  color: #3a3a3a;
}
/* Heading */
.section__title,
.section__label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  margin: 0;
  text-transform: uppercase;
}
.section__title_border_bottom,
.section__label {
  border-bottom: 2px solid #333;
}
.section__title_padding_top-bottom,
.section__label {
  padding: 30px 0 10px;
}
.input-text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.input-text:focus {
  color: #333;
}

/* New Task */
.section__label {
  display: block;
}
.section__title_margin_top-bottom {
  margin: 16px 0 20px;
}
.input-text_size_l {
  width: 318px;
}

/* Task list */
.task-list__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-list__checkbox,
.task-list__label,
.task-list__input,
.btn_edit,
.btn_delete {
  vertical-align: middle;
}

.task-list__checkbox {
  margin: 0 10px;
}
.task-list__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.task-list__input {
  width: 226px;
}
.btn_delete .btn__photo {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.btn_delete .btn__photo:hover {
  transform: rotateZ(0);
}

/* Completed */
.task-list_completed .task-list__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task-list__input {
  display: none;
}

.task-list__item_mode_edit .task-list__input {
  display: inline-block;
  width: 224px;
}

.task-list__item_mode_edit .task-list__label {
  display: none;
}